<div class="row center">
  <div class="card-panel">
    <div class="row">
      <h5>Review Data</h5>
    </div>
    <div class="row que-collection">
      <ul class="collection">
        <li class="collection-item que-item">Flight 1538 ETA @ 1950<a href="#!"><i class="material-icons secondary-content">highlight_off</i></a></li>
        <li class="collection-item que-item">Flight 1540 ETD @ 1950<a href="#!"><i class="material-icons secondary-content">highlight_off</i></a></li>
        <li class="collection-item que-item">Flight 1550 OUT @ 1950<a href="#!"><i class="material-icons secondary-content">highlight_off</i></a></li>
        <li class="collection-item que-item">Flight 1560 ETO @ 1950<a href="#!"><i class="material-icons secondary-content">highlight_off</i></a></li>
        <li class="collection-item que-item">Flight 1530 IN @ 1950<a href="#!"><i class="material-icons secondary-content">highlight_off</i></a></li>
      </ul>
    </div>

  </div>
</div>
<div class="row center">
    <a class="waves-effect waves-light btn">Download CSV</a>
</div>
