
<div class="row">
  <div class="card-panel #ecf0f1">
      <div class="row">
        <h5 class="flow-text center">Click Desired Event</h5>
      </div>
      <div class="row center">
        <a class="waves-effect waves-light btn btn-evt">OUT</a>
        <a class="waves-effect waves-light btn btn-evt">OFF</a>
        <a class="waves-effect waves-light btn btn-evt">ON</a>
        <a class="waves-effect waves-light btn btn-evt">IN</a>
        <a class="waves-effect waves-light btn btn-evt">ETA</a>
        <a class="waves-effect waves-light btn btn-evt">ETD</a>
        <a class="waves-effect waves-light btn btn-evt">ETO</a>
        <a class="waves-effect waves-light btn btn-evt">EON</a>
      </div>

      <div class="row center">
        <a class="waves-effect waves-light btn btn-evt">SUB</a>
        <a class="waves-effect waves-light btn btn-evt">CNL</a>
        <a class="waves-effect waves-light btn btn-evt">DEL</a>
      </div>

  </div>

</div>
