<div class="row">
    <div class="card-panel #ecf0f1">
      <div class="row">
          <h5 class="flow-text center">Event Type: OUT</h5>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Flight Number" type="text">
        </div>
        <div class="input-field col s6">
          <input placeholder="Desired Out Time" type="text">
        </div>
      </div>
      <div class="row center">
          <a class="waves-effect waves-light btn">Add to Que</a>
      </div>
    </div>
</div>
