::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #34495e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #34495e;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #34495e;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #34495e;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: #34495e;
}

.e-name {
  color: #e74c3c;
}

/* input {
  background-color: white;
} */
